/* Empty. Add your own CSS if you like */

        * {
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }

        [ng-drag] {
            -moz-user-select: -moz-none;
            -khtml-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        [ng-drag] {
            width: 100px;
            height: 100px;
            background: rgba(255, 0, 0, 0.5);
            color: white;
            text-align: center;
            padding-top: 40px;
            display: block;
            cursor: move;
        }

        [ng-drag].one {
            background: #28a54c;
        }

        [ng-drag].two {
            background: #0a9ec7;
        }

        [ng-drag].three {
            background: rgba(0, 0, 255, 0.5);
        }

        [ng-drag].drag-over {
            border: solid 1px green;
        }

        [ng-drag].dragging {
            opacity: 0.5;
        }

        [ng-drop] {
            
            text-align: center;
            display: block;
            position: relative;
            padding: 20px;
            width: 140px;
            height: 140px;
            float: left;
        }

        [ng-drop].drag-enter {
            border: solid 5px green;
        }

        [ng-drop] span.title {
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 200px;
            height: 20px;
            margin-left: -100px;
            margin-top: -10px;
        }

        [ng-drop] div {
            position: relative;
            z-index: 2;
        }

        .draglist {
            display: inline-block;
            margin: 0 auto;
        }

 .pad{
   padding-top: 10%;
 }